body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}

.links {
    font-size: 18px;
    display: flex;
    gap: 30px
}

a, .leftItems p {
    color: #E5E7EB;
    text-decoration: none;
}

.leftItems p {
    padding-right: 35%;
}

.headerLogo {
    font-weight: bold;
    color: #F9FAF8;
    font-size: 24px;
}

.leftItems h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    margin: 0px;
    padding: 0px;
}


.content img {
    width: 500px;
    height: auto;
}

.learnButton {
    width: 125px;
    height: 50px;
    background-color: #3882F6;
    color: #fefeff;
    text-align: center; 
    line-height: 10px;
    font-weight: bold;
    font-size: large;
    border-radius: 10px;
    border-color: #3882F6;
}

.hero {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    padding: 0 10%;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1%;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 5%;
    padding-bottom: 100px;
}

.items img {
    width: 200px;
    height: auto;
    border: 5px solid #3882F6;
    border-radius: 10px;
}

.infoSection h1 {
    padding-top: 2%;
    padding-bottom: 2%;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    text-align: center;
}

.description {
    width: 200px;
    text-align: center;
}

.items {
    display: flex;
    justify-content: space-between;
    margin: 0 20%;
    padding-bottom: 100px;
    flex-wrap: wrap;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.quoteSection {
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #E5E7EB;
    color: #1F2937;
}
.quoteSection p:first-child {
    font-size: 36px;
    font-style: italic;
    text-align: center;
    font-weight: lighter;
}

.quoteSection p:last-child {
    font-size: 24px;
    font-weight: bolder;
    align-self: flex-end;
    padding-right: 25%;
}

.actionSection {
    padding-top: 100px;
    padding-bottom: 100px;
}

.box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #3882F6;
    border-style: solid;
    border-color: #3882F6;
    border-radius: 10px;
    margin-left: 15%;
    margin-right: 15%;
}

.text {
    display: flex;
    flex-direction: column;
}

.read {
   color: #F9FAF8;
   font-weight: bold;
   font-size: 24px;
}

.info {
    color: #F9FAF8;
    font-size: 18px;
}

.readButton {
    width: 125px;
    height: 50px;
    background-color: #3882F6;
    color: #f9f9f9;
    text-align: center; 
    line-height: 10px;
    font-weight: bold;
    font-size: 15px;
    border-radius: 10px;
    border-color: #f9f9f9;
    border-style: solid;
}